<router-outlet></router-outlet>
<!--
<div class="container mt-4">
  <div class="row">
    <h3>
      Ciao, il mio nome is {{ nome }}! 
    </h3>
    <br>
    <h3>
      La sommma di 4 + 85 =  {{ getSomma(4, 85 ) }}.
    </h3>

    <br>
    <input type="text" class="form-control" [placeholder]="testoPlaceHolder" [disabled] = "desabilitato">
  
    <br>
    <img [src]="imgSrc" alt="img" width = "400px" height = "400px">
 
  </div>
  <div class="row"> 
    <h3>
      {{testo}}
    </h3>
    <br>
    <button class="btn btn-primary" (click) = "cambiaTesto()">Click Me</button>
  </div>
  <div class="row"> 
    <input type="text" class="form-control" placeholder="Scriva qui sotto:" [(ngModel)] = "text"/>
    <br>
    {{text}}
  </div>

  <div class="row"> 
    <h3>
      Lista di studenti.
    </h3>
    <button class="btn btn-primary ml-auto" (click)="toglee()">Toogle</button>
  </div>
  <br>
  <table class="table" *ngIf="mostrare">
    <thead>
      <th>Nr</th>
      <th>Nomre</th>
      <th>Stato</th>
    </thead>
    <tbody>
      <tr *ngFor="let studente of listStudenti; let i = index" [ngSwitch]="studente.stato">
        <td> {{i + 1}}</td>
        <td>{{studente.nome}}</td>
        <td
         [ngStyle]="{'font-style': studente.stato === 'Promosso' ? 'italic' : 'normal'}"
         [ngClass]="studente.stato === 'Promosso' ? 'badge badge-success' : 'badge badge-secondary'"
         >
         {{studente.stato}}
        </td>
        <td> 
        <span *ngSwitchCase="'Promosso'" class =  'badge badge-success'>
          {{studente.stato}}
        </span> 
        <span *ngSwitchCase="'Regolare'" class =  'badge badge-secondary'>
          {{studente.stato}}
        </span> 
        <span *ngSwitchCase="'Libero'" class =  'badge badge-danger'>
          {{studente.stato}}
        </span> 
        </td>
      </tr> 
    </tbody>
  </table>
  <h3 *ngIf="listStudenti.length === 0">Non ci sono registri per mostrare</h3>
</div>

-->