<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h3 class="text-center">    
        Change Password
    </h3>
    <form [formGroup]="changePassword" (ngSubmit)="SavePassword()">
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Last Password" formControlName="lastPasword">
            <span class="text-danger ml-3" 
            *ngIf="changePassword.get('lastPasword').touched && changePassword.get('lastPasword').hasError('required')">
                The password <strong> is requiered</strong>
            </span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
            <span class="text-danger ml-3" 
            *ngIf="changePassword.get('newPassword').touched && changePassword.get('newPassword').hasError('required')">
                The new password <strong> is requiered</strong>
            </span>
            <span class="text-danger ml-3" 
            *ngIf="changePassword.get('newPassword').hasError('minlength')">
              The password must have at least <strong> 4 characters</strong>
            </span>  
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Repeat Password" formControlName="confirmPassword">
            <span class="text-danger ml-3" 
            *ngIf="changePassword.hasError('notSame')">
             Passwords do <strong> not match</strong>
            </span>
        </div>
        <div class="col text-center">
            <button class="btn btn-primary mr-2 btn-acep" [disabled]="changePassword.invalid">Accept</button>
            <button class="btn btn-secondary" routerLink="../">Cancel</button>
        </div>
    </form>
  </div>
</div>
